$color-white:white;
$background-color1: #2D3748;
$margin-15:15px;
$color-blue:#2B6CB0;
$font:'Nunito', sans-serif;
$width:50%;
$height:100%;
$width-100:100%;
$backcolor-body:darkgray;
$border-radius:10px;

$background-color: #04C35C;
            // $border-radius:10px;
            $border-color:darkgray;