.Login_Now {
    
    padding: 18px; 
    border-radius: $border-radius;
    border: none;
    color: $color-white;
        margin: $margin-15 0px !important;
        width: 100%;
        background-color: $background-color;
    
}

.sign_in {
    border-radius: $border-radius;
    color:$color-white;
    padding: 15px;
    background-color: $background-color1;
    width: $width-100;
    text-align: center;
    border: none;

}