.Dont_have_an_account {
        margin-top: 162px!important;
      
            // margin: 0!important;
            font-family:$font;
            font-size: 16px;
            line-height: 19px;
            a{
                color: $color-blue;
            }
       
}